.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  --last-bookmark-color: red;
  --saved-bookmark-color: yellow;
}

@media (prefers-color-scheme: light) {
  .container {
    --last-bookmark-color: red;
    --saved-bookmark-color: #ffaa38;
  }
}

.headerContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.headerContainer div {
  width: 100%;
}

.headerControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header {
  margin: 0;
  overflow: hidden;
  font-size: 1.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.belowHeader {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.progressContainer {
  display: flex;
  gap: 4px;
  width: 100%;
  align-items: center;
}

.progressTime {
  width: 50px;
}

.progressInput {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.progressBookmark {
  position: absolute;
  rotate: 180deg;
  top: 0;
  transform: translate(50%, 100%);
}

.progressBookmarkActive {
  width: 24px;
  height: 24px;
}

.progressBookmarkLast {
  color: var(--last-bookmark-color);
  fill: var(--last-bookmark-color);
}

.progressBookmarkSaved {
  color: var(--saved-bookmark-color);
  fill: var(--saved-bookmark-color);
}

.progressBar {
  position: relative;
  background-color: var(--background-2);
  height: 20px;
  width: 100%;
  cursor: pointer;
  touch-action: none;
  user-select: none;
}

.progressBarFilling {
  position: absolute;
  height: 100%;
  background-color: var(--background-3);
}

.progressBarPointer {
  position: relative;
  height: 100%;
  width: 10px;
  transform: translateX(-50%);
  background-color: var(--color-primary);
}

.controlsContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.controlsRow {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.controlsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 1px solid transparent;
}

.controlsButton:active {
  border: 1px solid var(--color-primary-3) !important;
}

.controlsButton:hover {
  border: 1px solid transparent;
}

.controlsButton:focus,
.controlsButton:focus-visible {
  outline: inherit;
}


@media only screen and (max-width: 768px) {
  .progressBar {
    height: 50px;
  }
}
